<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>%(title)s | ODI and Source control </title>
  
  <link rel="stylesheet" href="%(html_root)s/css/cookbook.css" type="text/css" />


</head>

<body>

<div id="header">

<img src="%(html_root)s/img/horizon.jpg" 
         style="width:100%%; position:relative; top:-10px;"
         alt="odietamo.org.uk"
         title="ODI et Amo"
         />

   <ul style="width:50%%;">
     <li><a href="%(html_root)s/About.html">About</a></li>
     <li><a href="%(html_root)s/contents.html">Contents</a></li>
   </ul>

</div>

<div class="colmask rightmenu">
    <div class="colleft">
        <div class="col1wrap">
            <div class="col1">
                <!-- Column 1 start -->
%(maintext)s
				<!-- Column 1 end -->
            </div>
        </div>
        <div class="col2">
            <!-- Column 2 start -->

<span class="breadcrumbs">%(breadcrumbs)s</span>
%(rhs)s

			<!-- Column 2 end -->

        </div>
    </div>
</div>

<div id="footer">
(c) ODI et Amo 2012
</div>

</body>
</html>
