@import url(html4css1.css);

    /* General styles */
body {
        margin:0;
        padding:0;
        border:0;		
        width:100%;
        background:#fff;
        min-width:600px;  
	    font-size: 100%;
 
}

.document{
    margin-bottom: 1em;
    margin-top: 1em;
    font-size: 1em;
    font-family: verdana, sans-serif;
    line-height: 120%;
    margin-left:2.5em;
    margin-right:2.5em;
}    


a {
    	color:#369;
        line-height:1em; 
	}

a:hover {
		color:#fff;
		background:#369;
		text-decoration:none;
                line-height:1em;
	}

h1, h2, h3 {
        margin:.8em 0 .2em 0;
        padding:0;
    }

p {
        margin:.4em 0 .8em 0;
        padding:0;
    }

img {
		margin:10px 0 5px;
	}
	/* Header styles */
#header {
        clear:both;
        float:left;
        width:100%;
    }
#header {
		border-bottom:1px solid #000;
	}
#header p,
#header h1,
#header h2 {
        padding:.4em 15px 0 15px;
        margin:0;
	}
#header ul {
	    clear:left;
	    float:left;
	    width:100%;
	    list-style:none;
	    margin:10px 0 0 0;
	    padding:0;
	}
#header ul li {
	    display:inline;
	    list-style:none;
	    margin:0;
	    padding:0;
	}
#header ul li a {
	    display:block;
	    float:left;
	    margin:0 0 0 1px;
	    padding:3px 10px;
	    text-align:center;
	    background:#eee;
	    color:#000;
	    text-decoration:none;
	    position:relative;
	    left:15px;
		line-height:1.3em;
	}
#header ul li a:hover {
	    background:#369;
		color:#fff;
	}
#header ul li a.active,
#header ul li a.active:hover {
	    color:#fff;
	    background:#000;
	    font-weight:bold;
	}
#header ul li a span {
	    display:block;
	}

	/* 'widths' sub menu */
#layoutdims {
		clear:both;
		background:#eee;
		border-top:4px solid #000;
		margin:0;
		padding:6px 15px !important;
		text-align:right;
	}

	/* column container */
.colmask {
         position:relative;
	 clear:both;
	 float:left;
         width:100%;			/* width of whole page */
	 overflow:hidden;	/* This chops off any overhanging divs */
	}
	/* 2 column right menu settings */
	.rightmenu {
	 background:#ff9;
	}
	.rightmenu .colleft {
        float:left;
        width:200%;
        margin-left:-200px;
        position:relative;
        right:100%;
        background:#fff;
    }
    .rightmenu .col1wrap {
	    float:left;
	    width:50%;
	    position:relative;
	    left:50%;
	    padding-bottom:1em;
	}

	.rightmenu .col1 {
        margin:0 15px 0 215px;
        overflow:hidden;
        padding:0em, 100px, 0em, 20px;
	}

    .rightmenu .col2 {
        float:right;
        width:170px;
        position:relative;
        left:185px;
        text-align:justify;
    }
	/* Footer styles */
	#footer {
        clear:both;
        float:left;
        width:100%;
		border-top:1px solid #000;
    }
    #footer p {
        padding:10px;
        margin:0;
    }


/////////////// get nice left hand readable fonts, and different RHS

a {
color:#369;
}

div.col1 p,div.col1 ul,div.col1 ol {
font-family: Helvetica, Sans-Serif;
font-size:1em;
margin-bottom:1em;
margin-top:1em;
}

div.col2, div.col3 {
    font-family: Helvetica, Sans-Serif;
    font-size: 0.9em;
}

h1.title {
  color:#369;
}

.contentSubtitle{
    font-size: small;
}

.screenshot{

   border: 2px solid black;
   height: 50%;

}

.pull-quote {

  font-family: times-roman, Serif;
  font-size:  120%;
  font-weight: bold;
  

}

.breadcrumbs {
    color: cyan;
}


/////////// pbrian additions

///// pbrian: make the call outs look nice
pre.literal-block{
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:#EEEEEE none repeat scroll 0 0;
border:1px solid #555555;
font-size:9pt;
padding:1em;
}
