BODY { 
      background-color:#ffffff; 
      font-size:small; 
      font-family:Arial, sans-serif; 
      color:#000000;  }
H1 { 
    font-weight:bold; 
    color:#e07f0c; 
    font-size:large; 
    font-family:Arial, sans-serif;  }
LI.kadov-H1 { 
             font-weight:bold; 
             color:#e07f0c; 
             font-size:large;  }
H2 { 
    font-size:large; 
    margin-top:23pt; 
    margin-bottom:9.5pt; 
    color:#006598; 
    font-weight:bold; 
    font-family:Arial, sans-serif;  }
LI.kadov-H2 { 
             font-size:large; 
             color:#006598; 
             font-weight:normal;  }
H3 { 
    font-weight:bold; 
    color:#e07f0c; 
    font-size:medium; 
    margin-bottom:9.5pt; 
    font-family:Arial, sans-serif;  }
LI.kadov-H3 { 
             font-weight:bold; 
             color:#e07f0c; 
             font-size:medium;  }
H4 { 
    font-weight:bold; 
    font-size:medium; 
    color:#006598; 
    font-family:Arial, sans-serif;  }
LI.kadov-H4 { 
             font-weight:bold; 
             font-size:medium; 
             color:#006598;  }
H5 { 
    font-weight:bold; 
    color:#e07f0c; 
    font-size:small; 
    font-family:Arial, sans-serif;  }
LI.kadov-H5 { 
             font-weight:bold; 
             color:#e07f0c; 
             font-size:small;  }
H6 { 
    font-weight:bold; 
    font-size:small; 
    color:#006598; 
    font-family:Arial, sans-serif;  }
LI.kadov-H6 { 
             font-weight:bold; 
             font-size:small; 
             color:#006598;  }
P { 
   font-size:small; 
   margin-top:4.5pt; 
   margin-bottom:4.5pt; 
   font-family:Arial, sans-serif; 
   font-weight:normal; 
   color:#000000;  }
LI.kadov-P { 
            font-size:small; 
            font-family:Arial, sans-serif; 
            font-weight:normal; 
            color:#000000;  }
td { 
    border-left-style:none; 
    border-right-style:none; 
    border-top-style:none; 
    border-bottom-style:none; 
    background-color:#e2e2e2;  }
th { 
    border-left-style:none; 
    border-top-style:none; 
    border-right-style:none; 
    border-bottom-style:none; 
    valign:top; 
    background-color:#c0c0c0;  }
table { 
       border-left-style:none; 
       border-top-style:none; 
       border-right-style:none; 
       border-bottom-style:none; 
       width:100%; 
       valign:top;  }
A.expandspot { 
              cursor:hand; 
              font-style:italic; 
              x-text-underline:off; 
              x-text-overline:off; 
              x-text-line-through:off; 
              color:#e07f0c; 
              text-decoration:none none none;  }
SPAN.expandtext { 
                 font-weight:bold; 
                 font-style:normal; 
                 x-text-underline:Normal; 
                 color:#e07f0c; 
                 text-decoration:underline;  }
A.dropspot { 
            cursor:hand; 
            font-style:italic; 
            x-text-underline:off; 
            x-text-overline:off; 
            x-text-line-through:off; 
            color:#e07f0c; 
            text-decoration:none none none;  }
A.glossterm { 
             cursor:hand; 
             x-text-underline:off; 
             x-text-overline:off; 
             x-text-line-through:off; 
             font-weight:bold; 
             font-style:italic; 
             color:#e07f0c; 
             text-decoration:none none none;  }
SPAN.glosstext { 
                font-style:italic; 
                font-weight:normal; 
                color:#e07f0c;  }
OL { 
    margin-top:0px; 
    margin-bottom:0px; 
    margin-left:0.25in; 
    font-size:small; 
    font-family:Arial, sans-serif; 
    color:#000000;  }
UL { 
    margin-top:0px; 
    margin-bottom:0px; 
    margin-left:0.25in; 
    font-size:small; 
    font-family:Arial, sans-serif; 
    color:#000000;  }
A:link { 
        font-weight:bold; 
        font-style:normal; 
        color:#e07f0c; 
        x-text-underline:Normal; 
        text-decoration:underline;  }
A:hover { 
         font-weight:bold; 
         font-style:normal; 
         x-text-underline:Normal; 
         color:#f8c07c; 
         text-decoration:underline;  }
A:active { 
          font-weight:bold; 
          font-style:normal; 
          color:#e07f0c;  }
A:visited { 
           font-weight:bold; 
           font-style:normal; 
           color:#983200;  }
A.popupspot { 
             font-weight:bold; 
             font-style:normal; 
             color:#e07f0c; 
             x-text-underline:Normal; 
             text-decoration:underline;  }
p.TitreTableau { 
                font-weight:bold; 
                font-style:normal; 
                margin-left:2pt; 
                margin-right:2pt; 
                text-align:Left; 
                color:#006598; 
                background-color:#c0c0c0; 
                font-size:small;  }
LI.kadov-p-CTitreTableau { 
                          font-weight:bold; 
                          font-style:normal; 
                          text-align:Left; 
                          color:#006598; 
                          font-size:small;  }
p.TexteTableau { 
                background-color:#e2e2e2; 
                margin-left:2pt; 
                margin-right:2pt; 
                font-size:small;  }
LI.kadov-p-CTexteTableau { 
                          font-size:small;  }
SPAN.Code { 
           font-family:courier, monospace; 
           color:#000000; 
           font-size:small;  }
SPAN.ElementGUI { 
                 font-weight:bold; 
                 font-style:normal;  }
P.Remarque { 
            x-next-type:P; 
            background-color:#e2e2e2; 
            margin-left:10pt; 
            margin-right:5pt; 
            margin-top:10pt; 
            margin-bottom:10pt;  }
LI.kadov-P-CRemarque {  }
SPAN.AlertTitre { 
                 font-weight:bold; 
                 font-style:normal; 
                 color:#e07f0c;  }
SPAN.RemarqueTitre { 
                    font-weight:bold; 
                    font-style:normal;  }
ol ol { 
       margin-top:4px;  }
ol ul { 
       margin-top:4px;  }
ul ul { 
       margin-top:4px;  }
ul ol { 
       margin-top:4px;  }
